<%= button_to "New Game", new_path, :method => "get" %>

<%= form_tag move_path, :method => :post, :id => "game_board" do %>
	<div id="board">
		<% 3.times do |x| %>
		<div class="row">
			<% 3.times do |y| %>
			<div class="box">
			<label>
				<% if @board.at(x,y) == "x" %>
				<input type="checkbox" name="<%= x %><%= y %>" class="x" disabled>X<input>
				<% elsif @board.at(x,y) == "o" %>
				<input type="checkbox" name="<%= x %><%= y %>" class="o" disabled>O<input>
				<% else %>
				<input type="checkbox" name="numbers[<%= x %><%= y %>]" <% if @completed %> disabled<% end %> />
				<% end %>
			</label>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
<% end %>